.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}


.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: #e8f072;
}

.left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main_frame .mid_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
   /*  background-color: rgb(203, 15, 15);  */
}

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_frame .left_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  background-color: aqua; */
}

.main_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.main_frame .left_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}

.main_frame .left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
}

.left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    /* H4 - 18px */

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    /* or 22px */

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    /* Black */
    color: #2B2B2B;
}

.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
   /*  background-color: aqua; */
}

.main_frame .left_frame .left_1-3 {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Paragraph Progress - 15 */

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    /* Paragraph Font */

    color: #767676;
}

.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* Yellow */
    background: #ffb400;
}

/* .icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
} */

.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
   /*  background-color: aqua; */
}

.main_frame .left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
}

/* INFO BOX  */
.info_box {
    width: 221px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* each row */
.info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    color: #2b2b2b;
}

/* yellow labels */
.info_label {
    background: #ffb400;
    padding: 3px 6px;
    font-weight: 600;
    border-radius: 2px;
}

/* values */
.info_value {
    color: #2b2b2b;
}

/* green "Available" */
.info_green {
    color: #7ac74f;
    font-weight: 600;
}

/* LANGUAGE BOX  */
.language_box {
    width: 220px;
    height: 153px;
    font-family: sans-serif;
}

/* title */
.lang_title {
    font-size: 18px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 10px;
}

/* each language item */
.lang_item {
    margin-bottom: 10px;
}

/* name + percent */
.lang_top {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #767676;
    margin-bottom: 4px;
}

/* bar background */
.lang_bar {
    width: 100%;
    height: 6px;
    background: #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

/* yellow fill */
.lang_fill {
    height: 100%;
    background: #ffb400;
    border-radius: 10px;
}

/* SKILLS BOX  */
.skills_box {
    width: 220px;
    height: 242px;
    font-family: sans-serif;
}

/* title */
.skills_title {
    font-size: 18px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 12px;
}

/* skill item */
.skill_item {
    margin-bottom: 12px;
}

/* name + percent */
.skill_top {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #767676;
    margin-bottom: 4px;
}

/* bar background */
.skill_bar {
    width: 100%;
    height: 6px;
    background: #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

/* yellow fill */
.skill_fill {
    height: 100%;
    background: #ffb400;
    border-radius: 10px;
}

/* EXTRA SKILLS BOX (186 x 148) */
.extra_box {
    width: 186px;
    height: 148px;
    font-family: sans-serif;
}

/* title */
.extra_title {
    font-size: 18px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 10px;
}

/* list */
.extra_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* list item */
.extra_list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #767676;
    margin-bottom: 8px;
}

/* yellow checkbox */
.extra_icon {
    width: 12px;
    height: 12px;
    border: 2px solid #ffb400;
    box-sizing: border-box;
}

.main_frame .left_frame .left_6 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* DOWNLOAD CV BUTTON (220 x 40) */
.cv_button {
    width: 220px;
    height: 40px;
    background: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:22px;

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2b2b2b;
    text-decoration: none;

    cursor: pointer;
}

/* arrow icon */
.cv_arrow {
    font-size: 20px;
}

.mid_frame {
    width: 970px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_box {
    width: 970px;
    height: 467px;
    background: #ffffff;
    display: flex;
    padding: 40px;
    box-sizing: border-box;
}

.hero_left {
    width: 55%;
}

.hero_left h1 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 20px;
}

.hero_left p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #767676;
    margin-bottom: 30px;
}

.hire_btn {
    width: 150px;
    height: 45px;
    background: #ffb400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #2b2b2b;
    text-decoration: none;
}

.hero_right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_right img {
    max-width: 100%;
    height: auto;
}

.services_box {
    width: 970px;
    height: 780px; 
    background: #f0f0f6;
    padding: 60px 40px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto; 
}

.services_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    background-color: transparent; 
}

.service_card {
    background: #ffffff;
    padding: 35px 20px;
    text-align: center;
    border-radius: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

/* For the Advertising */
.order_card {
    display: block; 
    text-align: center; 
    padding: 40px 25px;
}

.order_card h3 {
    margin-top: 0;
}

.order_link {
    display: inline-block;
    margin-top: 15px;
    font-weight: 700;
    color: #ffb400;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}


.service_icon, .svg-icon {
    width: 68px;
    height: 68px;
}

/* ===== RIGHT BAR ===== */
.right_frame{
    width: 100px;              
    height: 1315px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-sizing: border-box;
}

/* Moon top icon 30x30 */
.right_moon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;  
}
.right_moon img{
    width: 30px;
    height: 30px;
}

/* Menu stack */
.right_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px; 

/* Each item */
.right_item{
    position: relative;
    width: 40px;
    height: 40px;
}

/* Tooltip "Home" (65x33) */
.tooltip_box{
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 33px;
    background: #2b2b2b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;            
    pointer-events: none;
}


.right_item.active .tooltip_box{
    opacity: 1;
}

/* Circle (40x40) */
.icon_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f0f6;         
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Active circle is yellow */
.right_item.active .icon_circle{
    background: #ffb400;
}

/* SVG icons inside circles */
.icon_circle img{
    width: 40px;  
    height: 40px;
}}
